<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xparsing.weixin.dao.TbContentLawyerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xparsing.weixin.entity.TbContentLawyer">
        <id column="ID" property="id" />
        <result column="CONTENT_ID" property="contentId" />
        <result column="LAWYER_ID" property="lawyerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTENT_ID, LAWYER_ID
    </sql>

</mapper>
