<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xparsing.weixin.dao.TbInvitationCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xparsing.weixin.entity.TbInvitationCode">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="invitation_code" property="invitationCode" />
        <result column="state" property="state" />
        <result column="code_state" property="codeState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, invitation_code, state, code_state
    </sql>

</mapper>
