<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xparsing.weixin.dao.TbJudgeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xparsing.weixin.entity.TbJudge">
        <id column="ID" property="id" />
        <result column="JUDGENAME" property="judgename" />
        <result column="COURT" property="court" />
        <result column="STATE" property="state" />
        <result column="WEIGHTCOEF" property="weightcoef" />
        <result column="JUDGETYPE" property="judgetype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, JUDGENAME, COURT, STATE, WEIGHTCOEF, JUDGETYPE
    </sql>

</mapper>
